<section id="footer">
    <div class="footer">
        <div class="company-logo">
            <h2>myblogsite</h2>
        </div>

        <div class="company">
            <h3>Company</h3>
            <ul>
                <li>About Us</li>
                <li>Contact</li>
                <li>Code of Conduct</li>
            </ul>
        </div>

        <div class="writers">
            <h3>Writers</h3>
            <ul>
                <li>Become a writer </li>
                <li>Publish your story</li>
                <li>Build an audience</li>
            </ul>
        </div>

        <div class="socials">
            <h3>Socials</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
    </div>
    
    <div class="made-with-love">
        <h3>Read by people from over 32 countries!</h3>
        <h3>Developed in India</h3>
    </div>
</section>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />