<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myblogsite</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<nav>
    <div class="nav-brand">
        <h2>myblogsite</h2>
    </div>
    
    <a href="/"><div class="nav-item">Home</div></a>
    <a href="/compose"><div class="nav-item">Compose</div></a>
    <div class="nav-item">Link</div>
    <div class="nav-item">Link</div>
    
    
</nav>